body{
    margin: 0;
    font-family:  'Lucida Grande';
}
header{
    padding: 5px ;
    background-color:rgba(34, 49, 52, 0.9) ;
}
header ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
header ul li{
    list-style-type: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
header ul li a{
    color: white;
    text-decoration: none;
}
.top-wrapper{
    background-image:url(images/top_en.png);
    background-position: center;
    background-size: cover;
    color: white;
    padding:1px 0 200px 0;
}
.top-wrapper h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    opacity: 0.7;
}
.top-wrapper p{
    text-align: center;
    opacity: 0.7;
}
.btn{
    padding: 12px 14px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}
.btn p{
    margin-left: 480px;
    font-weight: bold;
}
.signup{
    background-color:#239b76 ;
}
.twitter{
    background-color: #55acee;
}
.facebook{
    background-color: #3b5998;
}
a{
    text-decoration: none;
}

.lesson-wrapper{
    padding-bottom: 80px;
    text-align: center;
    background-color:#f7f7f7 ;
    font-size: 24px;
    height: 550px;
    display: block;
}